.button {
  background: rgba(#FFF, .2);
  color: #FFF;

  font-size: 3rem;

  border-radius: 50%;
  border: 1px solid #FFF;
  margin: 6rem .6rem;

  height: 10rem;
  width: 10rem;

  outline: none;
  cursor: pointer;

  &:hover {
    background: rgba(#FFF, .5);
  }
}
