.button {
  background: rgba(#FFF, .1);
  color: #FFF;

  font-size: 1.8rem;

  border-radius: 50%;
  border: 1px solid #FFF;
  margin: 3rem .6rem;

  height: 8rem;
  width: 8rem;

  outline: none;
  cursor: pointer;

  &:hover {
    background: rgba(#FFF, .5);
  }
}
